NET "sum" LOC = P51 | IOSTANDARD = LVTTL;
NET "carryout" LOC = P41 | IOSTANDARD = LVTTL;

NET "a" LOC = P30 | IOSTANDARD = LVTTL;
NET "b" LOC = P27 | IOSTANDARD = LVTTL;
NET "carryin" LOC = P24 | IOSTANDARD = LVTTL;